body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
.h1_1 {
    color: blueviolet;
    text-align: center;
}
.p_1 {
    font-size: large;
}
.p_2 {
    font-weight: 800;
}
.p_3 {
    color: brown;
}
.p_4 {
    text-align: center;
}





.container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 34px;
    height: 500px;
    width: 100%;
    background-color: cadetblue;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2495632502734591166/1BE0AC41DCF1A54ADEEB3370B70697CC03489F44/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
}




.tovar {
    height: 240px;
    width: 300px;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
}
img {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}
button {
    height: 30px;
    width: 70px;
}
